{% extends 'notebooks/base.html' %}

{% block content %}
    <div class="sub-title">
        {{ topic }}  NOTES.
    </div>
    <a href="{% url 'notebooks:new_entry' topic.id %}" class="add-topic"id="plusSign"></a>
    <hr style="width: 90%";>
    <div class="back-btn">
        <a href="{% url 'notebooks:topics' %}">BACK TO TOPICS</a>
    </div>
    <ul>
        {% for entry in entries %}
        <li>
            {{ entry.text|linebreaks }}
            <div class="date-time">
                {{ entry.date_added|date:'M d, Y H:i' }}
            </div>
            <div class="edit-buttons">
                <a href="{% url 'notebooks:edit_entry' entry.id %}">
                    <i class="fa fa-edit" style="font-size:22px"></i>
                </a>
                <a href="{% url 'notebooks:delete_entry' entry.id %}">
                    <i class="fa fa-trash-o" style="font-size:22px"></i>
                </a>
            </div>
        </li>
        {% empty %}
        <li>
            There are no entries for this topic yet.
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
